= form_for @country do |f|
  = f.error_messages
  = field_set_tag t('shoppe.countries.country_details') do

    .splitContainer
      %dl.third
        %dt= f.label :name, t('shoppe.countries.name')
        %dd= f.text_field :name, :class => 'focus text'
      %dl.third
        %dt= f.label :code2, t('shoppe.countries.iso_alpha_2')
        %dd= f.text_field :code2, :class => 'text'
      %dl.third
        %dt= f.label :code3, t('shoppe.countries.iso_alpha_3')
        %dd= f.text_field :code3, :class => 'text'

    .splitContainer
      %dl.third
        %dt= f.label :continent, t('shoppe.countries.continent')
        %dd= f.text_field :continent, :class => 'text'
      %dl.third
        %dt= f.label :tld, t('shoppe.countries.tld')
        %dd= f.text_field :tld, :class => 'text'
      %dl.third
        %dt= f.label :eu_member, t('shoppe.countries.eu_member')
        %dd.checkbox
          = f.check_box :eu_member
          = f.label :eu_member, t('shoppe.countries.is_eu_member')

  = field_set_tag t('shoppe.countries.subdivisions') do
    .margin
      %table.countrySubdivisions
        %thead
          %tr
            %td= t('shoppe.country_subdivisions.code')
            %td= t('shoppe.country_subdivisions.name')
            %td.remove= t('shoppe.remove')
        %tbody
          %tr.template{:style => 'display:none;'}
            %td= text_field_tag 'country[subdivisions_array][][code]', '', :placeholder => t('shoppe.country_subdivisions.code')
            %td= text_field_tag 'country[subdivisions_array][][name]', '', :placeholder => t('shoppe.country_subdivisions.name')            
            %td.remove= link_to t('shoppe.remove') , '#', :class => 'button button-mini purple'
          - for subdivision in @country.subdivisions
            %tr
              %td= text_field_tag 'country[subdivisions_array][][code]', subdivision.code, :placeholder => t('shoppe.country_subdivisions.code')
              %td= text_field_tag 'country[subdivisions_array][][name]', subdivision.name, :placeholder => t('shoppe.country_subdivisions.name')
              %td.remove= link_to t("shoppe.remove"), '#', :class => 'button button-mini purple'
      %p.addSubdivision= link_to t('shoppe.countries.add_subdivision') , '#', :data => {:behavior => 'addSubdivisionToSubdivisionsTable'}, :class => 'button button-mini green'


  %p.submit
    - unless @country.new_record?
      %span.right
        = link_to t('shoppe.delete'), @country, :class => 'button purple',
          :method => :delete, :data => {:confirm => t('shoppe.countries.delete_confirmation')}
    = f.submit t('shoppe.submit'), :class => 'button green'
    = link_to t('shoppe.cancel'), :countries, :class => 'button'
